@use "theme" with (
    $col1: beige,
    $col2: white,
    $highlight: brown,
    $iconsize: 24px,
);

@use "include/app";
@use "include/browser";
@use "include/custom-select";
@use "include/settings";
@use "include/client";


body {
    font-family: Tahoma, sans-serif;
}

