@use "../theme";

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    display: flex;
    line-height: 1.15;
    width: 100%;
    height: 100%;
    background-color: theme.$col2;
}

.app {
    height: 100%;
    width: 100%;
}

.window {
    flex-grow: 1;
}

.appwindow {
    display: flex;
    flex-direction: row;
}

.appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.roomusers {
    padding-left: 24px;
    cursor: default;
}

.contextmenuouter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    cursor: default;
    z-index: 5;
}

.contextremoveroom,
.contextremoveuser {
    background-color: #ff000044;
}

.contextmenu {
    position: absolute;
    cursor: default;
    z-index: 5;
    background-color: lightcyan;
    border: #394a6d 1px solid;
    padding: 5px;
}

.contextmenuitem {
    border-bottom: 1px solid #394a6d;
}

.button {
    width: theme.$iconsize;
}

.add_server_room {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_server_room form {
    background-color: theme.$col1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 0px;
    border-radius: 50px;
    align-items: center;
}

.outerappwindow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.serverpane {
    width: theme.$iconsize;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0002;
    z-index: 1;
}

.serverpane img {
    width: theme.$iconsize;
    height: theme.$iconsize;
}